<h2>Create a new Account</h2>

<%= form_tag movies_path, :class => 'form' do %>
    <%= label :movie, :title, 'Columbia Email address', :class => 'col-form-label' %>
    <%= text_field :movie, :title, :class => 'form-control' %>
    <small id="emailHelp" class="form-text text-muted">Enter Columbia email</small>
    <%= label :movie, :title, 'Password', :class => 'col-form-label' %>
    <%= text_field :movie, :title, :class => 'form-control' %>
    <br/>

    <%= submit_tag 'Register', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', movies_path, :class => 'btn btn-secondary' %>
<% end %>
