<h2>Sign in</h2>

<%= form_tag login_path, :class => 'form' do %>
    <%= label :login, :email, 'Email address', :class => 'col-form-label' %>
    <%= text_field :login, :email, :class => 'form-control' %>
    <small id="emailHelp" class="form-text text-muted">Enter Columbia email</small>
    <%= label :login, :password, 'Password', :class => 'col-form-label' %>
    <%= text_field :login, :password, :class => 'form-control' %>
    <br/>

    <%= submit_tag 'Sign in', :class => 'btn btn-primary' %>
<% end %>
