<h2>Bid History</h2>

<div>
  <h5><%= @item.item  %></h5>
  <div><%= @item.description %></div>
  <div>Current bid :  &nbsp;    <b>  $<%= @item.current_bid  %></b></div>


</div>
<br>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Bidder id</th>
      <th>Bid Amount</th>
      <th>Bid Time</th>
    </tr>
  </thead>
  <tbody>
    <% @record.each do |movie| %>
      <tr>
        <td>
          <%= movie.user_id %>
        </td>
        <td>
          $<%= movie.bid %>
        </td>
        <td>
          <%= movie.created_at.strftime("%B %d, %Y %H:%M:%S %Z") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Post list', posts_path, :class => 'btn btn-primary col-2' %>
