<style type="text/css">
  .input_form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border:1px solid #ccc; font-size:20px; width:500px; min-height:30px; display:block; margin-bottom:15px; margin-top:5px; outline: none; -webkit-border-radius:5px; border-radius:5px;
  }
  label{
    font-size: 20px;
  }

</style>
<div class="body">
  <div class="header">
    <h2>Edit Post</h2>
  </div>
  <div class="wrapper">
    <form method="POST" action="/update_post"  enctype="multipart/form-data">
      <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="text" hidden name="post[id]" value="<%= @post.id %>">
      <input type="text" hidden name="post[user]" value="<%= @post.user %>">
      <input type="text" hidden name="post[email]" value="<%= @post.email %>">
      <div class="one">
        <input type="text" id="item" name="post[item]" class="input_form" placeholder="item..." value="<%= @post.item %>" required="">
      </div>
      <div class="one">
        <input type="text" id="description" name="post[description]" class="input_form" placeholder="description..." value="<%= @post.description %>" required="">
      </div>

      <label class="form-check-label" for="buy_it_now">Category</label>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]"  value="Electronics" id="flexRadioDefault1" <% if @post.category == "Electronics" %>checked<% end %>>
          <label class="form-check-label" for="Electronics">
            Electronic
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]" value="Bedding" id="flexRadioDefault2" <% if @post.category == "Bedding" %>checked<% end %>>
          <label class="form-check-label" for="Bedding">
            Bedding
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]"  value="Education" id="flexRadioDefault3" <% if @post.category == "Education" %>checked<% end %>>
          <label class="form-check-label" for="Education">
            Education
          </label>
        </div>
        <br>
      <div class="one">
        <small id="emailHelp" class="form-text text-muted">Buyers can purchase immediately at this price.</small>
        <input type="number" step=0.01 id="price" name="post[price]" class="input_form" placeholder="10.0" min="1" value="<%= @post.price %>">
      </div>
      <div class="one">
        <small id="emailHelp" class="form-text text-muted">Set a starting amount and let buyers compete for your item. To attract buyers and increase competition for your item, consider a low starting bid</small>
        <input type="number" step=0.01 id="bidding" name="post[start_bid]" class="input_form" placeholder="10.0" min="1" value="<%= @post.start_bid %>">
      </div>
      <small class="text-danger"><b class="">Note:</b> Leaving empty on the price and bid at the same time will set the minimum price $1.</small>
      <br><br>
      <label for="user_image">Image :</label>
      <input type="file" name="post[image]" id="user_image">
      <br><br>
      <input type="submit" value="Submit" style="width: 80px;height: 40px;" />

    </form>


  </div>
</div>
