<!--  app/views/movies/show.html.erb -->
  <% if @item.closed == true %>
    <% if session[:email] == @buyer.email %>
      <div class="alert alert-success " role="alert">
        You purchased this Item
      </div>
    <% else %>
      <div class="alert alert-primary" role="alert">
        You sold this Item !
      </div>
    <% end %>
  <% end %>
<h2>Details about <em><%= @item.item %></em></h2>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.image.url(:medium) %>
      <h5>Seller information :</h5>
      <ul id="details">
        <li>
          Seller:
          <%= @item.user %>
        </li>
        <li>
          Email:
          <%= @item.email %>
        </li>
      </ul>

      <h5>Description:</h5>
      <p id="description">
        <%= @item.description %>
      </p>
    </div>
    <div class="col">
      <% if @item.bid and @item.closed == false %>
        <% if @item.start_bid == @item.current_bid and Bid.find_by(product_id: @item.id) == nil %>
            <div class="det"><div class="detail">Starting Bid: <b>US $<%= @item.start_bid %> </b></div>
        <% else %>
            <div class="det"><div class="detail">Current Bid: <b>US $<%= @item.current_bid %>  &nbsp; <a href='<%= bid_history_path(@item.id) %>'>View Bid History</a></b></div>
        <% end %>
      <% if @item.closed == false %>
          <form action="/bids" method="POST">
            <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <input class='form-control' type ="text" name="bid[bid]" id="amount" placeholder="Bid amount">
                  </div>
                  <div class="col">
                    <button class= 'btn btn-primary' type="submit" name="submit" class="submit">Place a bid</button>
                  </div>
                </div>
              </div>
            </div>
            <input class='form-control' type ="hidden" name="bid[product_id]" placeholder="Bid amount" value =<%= @item.id %>>
              <% if @item.start_bid == @item.current_bid and Bid.find_by(product_id: @item.id) == nil %>
                  <small id="emailHelp" class="form-text text-muted detail">Enter US $<%= @item.start_bid %> or more</small>
              <% else %>
                  <small id="emailHelp" class="form-text text-muted detail">Enter a value greater than $<%= @item.current_bid %></small>
              <% end %>
            </form>
        <% end %>
        </div>
      <% end %>
      <% if @item.bid and @item.buy_now and  @item.closed == false %>
        <div class="middle-text"><span> Or </span></div>
        <% else %>
        <br>
      <% end %>
      <% if @item.buy_now and @item.closed == false %>
        <form action="/ordering" method="POST">
          <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <div class="card-text center">Price: <b>US $<%= @item.price %> &nbsp;&nbsp;</b> <button type="submit" class="btn btn-primary">Buy it now</button> </div>
            <input class='form-control' type ="hidden" name="order[product_id]" value=<%= @item.id %>>
            <input class='form-control' type ="hidden" name="order[price]" value=<%= @item.price %>>
        </form>

      <% end %>

      <% if @item.closed == true %>
        <% if @item.bid %>
          <% if @item.start_bid == @item.current_bid and Bid.find_by(product_id: @item.id) == nil %>
              <div class="card-text">The latest bid: <b>US $<%= @item.start_bid %> </b></div>
          <% else %>
              <div class="card-text">The latest bid: <b>US $<%= @item.current_bid %>  &nbsp; <a href='<%= bid_history_path(@item.id) %>'>View Bid History</a></b></div>
          <% end %>
        <% end %>
        <% if @item.buy_now %>
              <div class="card-text">Original Price: <b>US $<%= @item.price %> &nbsp;&nbsp;</b> </div>
        <% end %>
        <br>
          <h6> Price sold :  <b>$<%=  + @history.price  %> </b></h6>
          <h6>  Buyer id :  <b> <%= + @history.buyer_id %> </b></h6>
          <h6> Buyer full name :  <b><%= @buyer.fname + " " +  @buyer.lname %> </b></h6>
          <h6> Buyer email :  <b><%= + @buyer.email %> </b></h6>

        <% end %>
    </div>

  </div>
</div>

<br>
<div class="row">
  <%= link_to 'Back to post list', posts_path, :class => 'btn btn-primary col-2 margin-right-button' %>
  <br>
  <% if @item.email == session[:email] and @item.closed == false %>
    <%= link_to 'Edit this post', edit_post_path(@item.id), :class => 'btn btn-secondary col-2' %>
  <% end %>
</div>
