<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title class="hola">Lionbuy!</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title">Lionbuy!</h1>
      <div>&nbsp;&nbsp;</div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <% if session[:user_id] == nil %>  <%= link_to 'Sign in', signin_path(), :class => 'btn btn-primary col-2'  %> <% end %>
      <% if session[:user_id] == nil %>  <%= link_to 'Sign up', signup_path(), :class => 'btn btn-primary col-2'  %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Order history', order_history_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Selling summary',  selling_history_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'My posts',  my_posts_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %> <h2 class="ml-auto">  <%= "Welcome " + session[:fname] + " " + session[:lname]  %> &nbsp; &nbsp;</h2> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Log out', signout_path(), :class => 'btn btn-danger col-2' %> <% end %>


      </div>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
