<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title class="hola">Lionbuy!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title">Lionbuy!</h1>
      <div>&nbsp;&nbsp;</div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <% if session[:user_id] == nil %>  <%= link_to 'Sign in', signin_path(), :class => 'btn btn-primary col-2'  %> <% end %>
      <% if session[:user_id] == nil %>  <%= link_to 'Sign up', signup_path(), :class => 'btn btn-primary col-2'  %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Order history', order_history_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Selling summary',  selling_history_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'My posts',  my_posts_path(), :class => 'btn btn-info col-2' %> <% end %>
      <% if session[:user_id] != nil %> <h2 class="ml-auto">  <%= "Welcome " + session[:fname] + " " + session[:lname]  %> &nbsp; &nbsp;</h2> <% end %>
      <% if session[:user_id] != nil %>  <%=  link_to 'Log out', signout_path(), :class => 'btn btn-danger col-2' %> <% end %>


      </div>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
